body {
    background-color: grey;
    margin: 0;
    height: 100vh;
    position: relative;
}

.card {
    background-color: white;
    width: 144px;
    height: 244px;
    border-radius: 7px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.image{
     padding-top: 4px;
     padding-right: 4px;
     padding-left: 4px;
     padding-bottom: 2px;
}

.image img{
    width: 136px;
    border-radius: 7px;
}
.capsules h2 {
    padding: 2px 2px 2px 2px;             
    font-size: 9px;
    display: inline-block;
    border: 1px solid grey;                 
    border-radius: 50px;          
    margin-right: 3px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.7;
    margin: -17px -9px 3px 10px;
}
.content h1{
    font-size: 11px;
    padding-left: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.content p{
    font-size: 6px;
    margin: 0px 15px 0px 7px;
}

.center {
    text-align: center;  /* centers inline-block child */
}

.center h1 {
    display: inline-block;     /* stops full-width stretch */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-radius: 23px;
    font-size: 8px;
    padding: 3px 10px;         /* decent spacing inside border */
    margin-top: 10px;          /* optional spacing from top */
   background-color: rgba(0, 0, 255, 0.3);  /* optional for visual */
    color: blue;
}
